@font-face {
  font-family: "Garet";
  src: url("./fonts/Garet-Book.otf") format("opentype");
}
@font-face {
  font-family: "Garet Bold";
  src: url("./fonts/Garet-Heavy.otf") format("opentype");
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --yellow: #dfb10e;
  --white: #ffffff;
  --dark-gray: #545454;
}

body {
  font-family: "Garet", sans-serif;
  background-color: var(--white);
}
a {
  text-decoration: none;
  color: #0d4235;
}

img {
  max-width: 30rem;
}

section {
  padding: 2.5rem 0;
}

.flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.items-center {
  align-items: center;
}

.grid {
  display: grid;
}

.container {
  margin: auto;
  max-width: 82rem;
  padding: 0 2rem;
}

.heading {
  span {
    font-weight: 200;
    font-size: 1.2rem;
  }
  h2 {
    font-weight: 600;
    font-size: 1.7rem;
    margin-top: 0.5rem;
  }
}

.service {
  .wrapper {
    justify-content: center;
    align-items: center;
  }
  .items {
    gap: 3rem;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  .item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    gap: 2rem;
    img {
      width: 8.5rem;
    }
  }

  .img {
    position: relative;
    .line {
      display: none;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 120%;
      img {
        width: 12.5rem;
      }
    }
  }
  .texts {
    display: grid;
    gap: 0.5rem;
    text-align: center;

    h4 {
      font-size: 1.5rem;
      color: var(--yellow);
    }

    .grayish {
      color: #545454;
    }
    p {
      max-width: 22rem;
      font-weight: 400;
      font-size: 1.2rem;
      color: #191927;
    }
  }
}

@media (min-width: 1280px) {
  .service {
    .item {
      .img {
        .line {
          display: block;
        }
      }
    }
  }
}

/*---------------------------------------------------- 
Mission Area
----------------------------------------------------*/

.mission {
  .wrapper {
    grid-template-columns: repeat(7, minmax(0, 1fr));
    justify-content: center;
    align-items: center;
    gap: 4rem;
  }

  .left-content {
    grid-column: span 4 / span 4;
    gap: 1rem;

    h2 {
      font-family: "Garet Bold";
      font-size: 2rem;
      font-weight: bolder;
    }

    p {
      font-family: "Open Sans", sans-serif;
      font-weight: 400;
    }
  }
  .right-content {
    grid-column: span 3 / span 3;
    img {
      max-width: 20rem;
    }
  }
}

/*---------------------------------------------------- 
Eye Area
----------------------------------------------------*/

.eye {
  position: relative;
  overflow: hidden;

  &::before,
  &::after {
    content: "";
    position: absolute;
  }

  &::before {
    background-color: var(--dark-gray);
    width: 6rem;
    right: 0;
    height: 80%;
  }
  &::after {
    background-color: var(--yellow);
    top: 7rem;
    right: -1rem;
    width: 4rem;
    height: 100%;
  }
  .rectangle {
    width: calc(50% - 6rem);
    height: 3rem;
    background-color: var(--yellow);
  }

  .wrapper {
    margin-top: 1rem;
    justify-content: space-between;
  }

  .left-content {
    img {
      max-width: 20rem;
    }
  }
  .right-content {
    margin-right: 6rem;
    .items {
      gap: 2rem;
    }
    .item {
      gap: 2rem;
    }

    .img {
      img {
        max-width: 3.5rem;
      }
    }
    p {
      font-weight: 900;
      font-size: 1.1rem;
      max-width: 30rem;
    }
  }

  .boxs {
    .box-1 {
      width: 4rem;
      height: 20rem;
      background-color: #191927;
    }
  }
}

@media (min-width: 1024px) {
}
@media (min-width: 1024px) {
}
@media (min-width: 1024px) {
}
@media (min-width: 1024px) {
}
@media (min-width: 1024px) {
}
