*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --yellow: #dfb10e;
  --light-yellow: #dfb20e75;
  --white: #ffffff;
  --dark-gray: #545454;
  --mid-gray: #9c9c9c;
  --light-gray: #d9d9d9;
  --main-font: "Garet";
  --main-font-bold: "Garet Bold";
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--white);
}

a {
  text-decoration: none;
  color: #0d4235;
}

img {
  max-width: 30rem;
}

section {
  padding: 2.5rem 0;
  overflow: hidden;
}

.flex {
  display: flex;
}
.flex-col {
  flex-direction: column;
}

.justify-center {
  justify-content: center;
}

.items-center {
  align-items: center;
}

.grid {
  display: grid;
}

.container {
  margin: auto;
  max-width: 82rem;
  padding: 0 1.5rem;
}

p {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 1.1rem;
  color: var(--dark-gray);
}

.heading {
  span {
    font-weight: 200;
    font-size: 1.2rem;
  }
  h2 {
    font-weight: 600;
    font-size: 1.7rem;
    margin-top: 0.5rem;
  }
}

/*---------------------------------------------------- 
Main Area
----------------------------------------------------*/
main {
  position: relative;
  height: 500px;
  &::before {
    display: none;
  }

  .wrapper {
    display: block;
  }

  .left-content {
    .img {
      position: relative;

      img {
        position: inherit;
        min-width: 100%;
        width: 100%;
      }
      &::before {
        content: "";
        position: absolute;
        bottom: 2rem;
        background-color: var(--yellow);
        width: 8rem;
        left: 20%;
        height: 30rem;
      }
    }
  }

  .right-content {
    display: none;
  }

  .overflow-content {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #54545488;
    color: var(--white);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding-top: 2rem;

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      background-color: var(--yellow);
      opacity: 0.5;
      width: 100%;
      left: 0;
      bottom: -30px;
      height: 10rem;
      border-radius: 50px 0 0 0;
      z-index: -1;
    }

    img {
      width: 10rem;
    }

    .title {
      h1 {
        margin-top: 1rem;
        color: var(--yellow);
        font-weight: 900;
        font-size: 2.7rem;
        text-transform: uppercase;
      }
    }

    p {
      margin-top: 1rem;
      font-size: 1.1rem;
      font-weight: 400;
      color: var(--white);
    }
  }
}
/*---------------------------------------------------- 
Service Area
----------------------------------------------------*/
.service {
  overflow: hidden;
  margin-top: 2rem;

  .wrapper {
    justify-content: center;
    align-items: center;
  }
  .items {
    gap: 3rem;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  .item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    gap: 2rem;
    img {
      width: 7rem;
    }
  }

  .img {
    position: relative;
    width: 9rem;
    height: 9rem;
    border-radius: 50%;
    background-color: #54545433;
    .line {
      display: none;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 120%;
      img {
        width: 12.5rem;
      }
    }
  }

  .service-2 {
    position: relative;
    background-color: var(--light-yellow);
    &::before {
      content: "";
      position: absolute;
      bottom: 2rem;
      background-color: var(--light-yellow);
      transform: rotate(46deg);
      width: 11rem;
      height: 51rem;
      right: -19rem;
      top: -37rem;
      z-index: -10;
      border-bottom-left-radius: 30px;
    }
  }
  .texts {
    display: grid;
    gap: 0.5rem;
    text-align: center;

    h4 {
      font-size: 1.5rem;
      color: var(--yellow);
    }

    .grayish {
      color: #545454;
    }
    p {
      max-width: 22rem;
      font-weight: 400;
      font-size: 1.2rem;
      color: #191927;
    }
  }
}
/*---------------------------------------------------- 
Mission Area
----------------------------------------------------*/
.mission {
  .wrapper {
    display: flex;
    flex-direction: column-reverse;
    gap: 2rem;
  }
  .left-content {
    h2 {
      display: none;
    }
  }
  .right-content {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 2rem;
    justify-content: center;
    align-items: center;
    h2 {
      color: var(--dark-gray);
      font-size: 2.2rem;
      font-weight: 900;
      font-family: "Roboto";
      span {
        font-weight: inherit;
        font-size: inherit;
        color: var(--yellow);
      }
    }

    img {
      width: 100%;
      max-width: 12rem;
    }
  }
}

/*---------------------------------------------------- 
Social Area
----------------------------------------------------*/
.social {
  overflow: visible;
  .wrapper {
    display: none;
    grid-template-columns: repeat(7, minmax(0, 1fr));
    gap: 4rem;
    align-items: center;
  }

  .left-content {
    grid-column: span 3 / span 3;
    gap: 2.5rem;
    h2 {
      color: var(--dark-gray);
      font-size: 2.2rem;
    }
    h3 {
      color: var(--yellow);
      font-size: 2.2rem;
    }
    p {
      margin-top: 1rem;
      font-size: 1.2rem;
      color: var(--dark-gray);
    }
    .left-top {
      p {
        text-transform: uppercase;
        font-weight: 700;
        color: var(--dark-gray);
      }
    }

    .left-bottom {
      position: relative;
      &::before {
        content: "";
        position: absolute;
        bottom: 2rem;
        background-color: var(--mid-gray);
        width: 70%;
        height: 100%;
        left: -20px;
        top: 1.3rem;
        z-index: -10;
      }
    }
  }

  .right-content {
    grid-column: span 4 / span 4;

    .img {
      position: relative;
      &::before {
        content: "";
        position: absolute;
        bottom: 2rem;
        background-color: var(--mid-gray);
        width: 30rem;
        height: 20rem;
        clip-path: polygon(0 1%, 100% 0, 100% 100%, 44% 100%);
        right: 0;
        top: -5rem;
        border-radius: 5px;
      }
      &::after {
        content: "";
        position: absolute;
        bottom: 2rem;
        background-color: var(--yellow);
        width: 30rem;
        height: 20rem;
        clip-path: polygon(100% 0, 0 23%, 79% 100%);
        right: 0;
        bottom: -15rem;
        border-radius: 5px;
        z-index: -10;
      }
    }
    img {
      position: relative;
      min-width: 100%;
    }
  }

  .mobile {
    p {
      font-size: 1rem;
      color: var(--dark-gray);
      font-weight: 600;
    }
    .top {
      padding: 1rem 2rem;
      background-color: var(--light-gray);
      text-align: end;
    }

    .middle {
      display: flex;
      justify-content: flex-end;

      .img-wrapper {
        position: relative;
        &::before {
          content: "";
          position: absolute;
          bottom: 2rem;
          background-color: var(--light-yellow);
          width: 15rem;
          height: 15rem;
          clip-path: polygon(12% 0, 0% 100%, 100% 45%);

          right: 0;
          top: 0;
          left: 0;
          z-index: -10;
        }
      }

      img {
        width: 100%;
        padding-left: 1rem;
      }
    }
    .bottom {
      padding: 0 2rem;
    }
  }
}

/*---------------------------------------------------- 
Phone Area
----------------------------------------------------*/
.phone {
  overflow: hidden;
  .wrapper {
    gap: 2rem;
    display: none;

    .left {
      position: relative;
      max-width: 8rem;

      width: 100%;
      &::after {
        content: "";
        position: absolute;
        height: 15rem;
        width: 8rem;
        background-color: var(--light-yellow);
        border-top-right-radius: 20px;
        bottom: 0;
      }
    }
    p {
      color: var(--dark-gray);
      font-size: 1.4rem;
      font-weight: 600;
      max-width: 50rem;
    }
    .img {
      position: relative;
    }
    img {
      width: 16rem;
      margin-left: 0rem;
    }

    .phone-content {
      position: relative;
      align-items: flex-end;

      h4 {
        text-transform: uppercase;
        color: var(--yellow);
        position: absolute;
        background-color: var(--dark-gray);
        padding: 0.5rem 4rem 0.5rem 0.5rem;
        border-radius: 15px;
        bottom: 2rem;
        font-size: 1.8rem;
        max-width: 30rem;
        left: -350px;
      }
    }
  }

  // mobile version
  .mobile {
    gap: 2rem;

    .img-wrapper {
      position: relative;
      &::before {
        content: "";
        position: absolute;
        bottom: 2rem;
        background-color: var(--yellow);
        width: 10rem;
        height: 10rem;
        clip-path: polygon(0 13%, 25% 100%, 100% 36%);
        right: 0;
        top: 0;
        left: 50%;
        z-index: -10;
      }
    }
    img {
      max-width: 10rem;
      width: 100%;
      transform: rotate(-30deg);
      position: relative;
    }

    .phone-content {
      grid-template-columns: repeat(2, minmax(0, 1fr));
      justify-content: end;
      align-items: end;
      gap: 2rem;

      h4 {
        text-transform: uppercase;
        color: var(--yellow);
        background-color: var(--dark-gray);
        padding: 1rem;
        border-radius: 15px;
        bottom: 2rem;
        font-size: 1.05rem;
        max-width: 35rem;
        margin-bottom: 2rem;
      }
    }

    p {
      font-size: 1.1rem;
      font-weight: 400;
      color: var(--dark-gray);
    }
  }
}
/*---------------------------------------------------- 
Presentation Area
----------------------------------------------------*/
.presentation {
  .wrapper {
    display: none;
    grid-template-columns: repeat(7, minmax(0, 1fr));
    gap: 2rem;
    align-items: center;
    justify-content: center;
  }
  h2 {
    grid-column: span 3 / span 3;
    text-transform: uppercase;
    font-size: 3.5rem;
    font-weight: bold;
    color: var(--dark-gray);

    span {
      color: var(--yellow);
    }
  }

  .paras {
    grid-column: span 4 / span 4;
    gap: 1rem;
    .para {
      gap: 0.3rem;

      h3 {
        color: var(--yellow);
        font-size: 2rem;
      }

      h4 {
        color: var(--dark-gray);
        font-size: 2rem;
        text-transform: uppercase;
      }

      p {
        color: var(--dark-gray);
        font-weight: 500;
        font-size: 1rem;
      }
    }
  }
  .left-content {
    grid-column: span 2 / span 2;
    img {
      max-width: 100%;
    }

    p {
      margin-top: 1rem;
      color: var(--dark-gray);
      font-weight: 600;
      font-size: 1.4rem;
      text-align: center;
    }
  }
  .right-content {
    grid-column: span 5 / span 5;
    background-image: url("./images/section-bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    .texts {
      padding: 3rem;
      grid-template-columns: repeat(7, minmax(0, 1fr));
      justify-content: center;
      align-items: center;
      gap: 2rem;
    }
  }

  .mobile {
    padding: 2.5rem 0;
    background-image: url("./images/section-bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    img {
      width: 100%;
      max-width: 12rem;
    }

    .top-content {
      gap: 2rem;

      h2 {
        font-size: 2rem;
      }
      p {
        margin-top: 1rem;
        color: var(--dark-gray);
        font-weight: 600;
        font-size: 1.1rem;
      }
    }

    .bottom-content {
      margin-top: 3rem;

      h4 {
        font-size: 1.5rem;
      }
    }
  }
}
/*---------------------------------------------------- 
Eye Area
----------------------------------------------------*/
.eye {
  .rectangle {
    display: none;
  }

  .wrapper {
    gap: 4rem;
  }

  .left-content {
    position: relative;
    img {
      max-width: 14rem;
      width: 100%;
      padding-right: 2.5rem;
    }

    &::before,
    &::after {
      content: "";
      position: absolute;
      margin-right: -2rem;
    }

    &::before {
      background-color: var(--dark-gray);
      width: 3.5rem;
      right: 0;
      height: 70%;
    }
    &::after {
      background-color: var(--yellow);
      top: 5rem;
      right: -1rem;
      width: 3rem;
      height: 80%;
    }
  }

  .right-content {
    .items {
      gap: 1rem;
    }
    .item {
      gap: 2rem;
    }

    .img {
      img {
        max-width: 3.5rem;
      }
    }
    p {
      font-weight: 900;
      font-size: 1.1rem;
      max-width: 30rem;
    }
  }

  .boxs {
    .box-1 {
      width: 4rem;
      height: 20rem;
      background-color: #191927;
    }
  }
}

@media (min-width: 400px) {
  main {
    height: 100%;
    .overflow-content {
      img {
        width: 11rem;
      }
      p {
        font-size: 1.3rem;
      }

      .title {
        h1 {
          font-size: 3.5rem;
        }
      }
    }
  }
  .presentation {
    .mobile {
      img {
        width: 100%;
      }
      .top-content {
        grid-template-columns: repeat(2, minmax(0, 1fr));
      }
      .bottom-content {
        h4 {
          font-size: 2rem;
        }
      }
    }
  }
  .phone {
    .mobile {
      .phone-content {
        h4 {
          font-size: 1.4rem;
        }
      }
    }
  }
}
@media (min-width: 640px) {
  .overflow-content {
    &::after {
      display: none;
    }
  }
  main {
    height: 100%;
    .overflow-content {
      img {
        width: 12rem;
      }
      p {
        font-size: 1.4rem;
      }

      .title {
        h1 {
          font-size: 4rem;
        }
      }
    }
  }

  .service {
    margin-top: 0;
  }
  .mission {
    .right-content {
      h2 {
        font-size: 3rem;
      }
    }
  }
}
@media (min-width: 768px) {
  .container {
    padding: 0 2rem;
  }
  /*---------------------------------------------------- 
Main Area
----------------------------------------------------*/
  main {
    background-color: var(--light-gray);
    padding-bottom: 2rem;
    height: 100%;

    &::before {
      display: block;
      content: "";
      position: absolute;
      bottom: 2rem;
      background-color: var(--light-yellow);
      width: 15rem;
      height: 8rem;
      border-top-left-radius: 20px;
      right: 0;
      top: 4rem;
    }

    .wrapper {
      display: grid;
      grid-template-columns: repeat(2, minmax(0, 1fr));
      gap: 4rem;
    }

    .left-content {
      .img {
        position: relative;

        img {
          position: inherit;
        }

        &::before {
          content: "";
          position: absolute;
          bottom: 2rem;
          background-color: var(--yellow);
          width: 12rem;
          left: 0;
          height: 20rem;
        }
      }
    }
    .right-content {
      display: block;
      margin-right: 39px;
      position: relative;
      padding-top: 2rem;

      .content {
        position: relative;
      }

      .main-logo {
        img {
          width: 13rem;
        }
      }
      p {
        margin-top: 1rem;
        font-size: 1.7rem;
        font-weight: 400;
      }
      h1 {
        margin-top: 1rem;
        margin-left: -7rem;
        font-size: 5rem;
        font-weight: 800;
        text-transform: uppercase;
        color: var(--yellow);
        span {
          color: var(--dark-gray);
        }
      }
    }

    .overflow-content {
      display: none;
    }
  }

  /*---------------------------------------------------- 
Service Area
----------------------------------------------------*/
  .service {
    position: relative;
    overflow: hidden;

    &::before {
      content: "";
      position: absolute;
      bottom: 2rem;
      background-color: var(--light-yellow);
      transform: rotate(-40deg);
      width: 20rem;
      height: 15rem;
      right: -4rem;
      top: -4rem;
    }

    .service-2 {
      &::before {
        display: none;
      }
    }
  }
  /*---------------------------------------------------- 
Social Area
----------------------------------------------------*/
  .social {
    .wrapper {
      display: grid;
    }

    .mobile {
      display: none;
    }
  }
  /*---------------------------------------------------- 
Phone Area
----------------------------------------------------*/
  .phone {
    .wrapper {
      display: flex;
    }

    .mobile {
      display: none;
    }

    .phone-content {
      margin-top: 6rem;
    }
  }
  .mission {
    .wrapper {
      display: grid;
      grid-template-columns: repeat(7, minmax(0, 1fr));
      justify-content: center;
      align-items: center;
      gap: 4rem;
    }

    .left-content {
      grid-column: span 4 / span 4;
      gap: 1rem;

      h2 {
        font-size: 2rem;
        font-weight: bold;
        display: block;
      }

      p {
        font-family: "Open Sans", sans-serif;
        font-weight: 400;
      }
    }
    .right-content {
      display: block;
      grid-column: span 3 / span 3;
      img {
        max-width: 20rem;
      }

      .heading {
        display: none;
      }
    }
  }

  /*---------------------------------------------------- 
Presentation Area
----------------------------------------------------*/
  .presentation {
    .wrapper {
      display: grid;
    }

    .mobile {
      display: none;
    }
  }
  /*---------------------------------------------------- 
Eye Area
----------------------------------------------------*/
  .eye {
    position: relative;

    &::before,
    &::after {
      content: "";
      position: absolute;
    }

    &::before {
      background-color: var(--dark-gray);
      width: 6rem;
      right: 0;
      height: 80%;
    }
    &::after {
      background-color: var(--yellow);
      top: 7rem;
      right: -1rem;
      width: 4rem;
      height: 100%;
    }
    .rectangle {
      width: calc(50% - 6rem);
      height: 3rem;
      background-color: var(--yellow);
      display: block;
    }

    .wrapper {
      margin-top: 1rem;
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }
    .left-content {
      &::before,
      &::after {
        display: none;
      }
      img {
        max-width: 20rem;
      }
    }
    .right-content {
      margin-right: 6rem;
      .items {
        gap: 1rem;
      }
      .item {
        gap: 2rem;
      }

      .img {
        img {
          max-width: 3.5rem;
        }
      }
      p {
        font-weight: 900;
        font-size: 1.1rem;
        max-width: 30rem;
      }
    }

    .boxs {
      .box-1 {
        width: 4rem;
        height: 20rem;
        background-color: #191927;
      }
    }
  }
}
@media (min-width: 1024px) {
  .phone {
    .phone-content {
      margin-top: 0;
    }
  }
}

@media (min-width: 1280px) {
  .service {
    .item {
      .img {
        .line {
          display: block;
        }
      }
    }
  }
}

@media (min-width: 1024px) {
}
