  &::before {
    content: "";
    position: absolute;
    bottom: 2rem;
    background-color: #dfb20e75;
    width: 15rem;
    height: 8rem;
    border-top-left-radius: 20px;
    right: 0;
    top: 4rem;
  }